@import '../../shared/variables/colors'


.inner
  max-width: 860px
  padding: 0 20px
  margin: 0 auto


.contentItem
  display: flex
  flex-direction: column
  padding-top: 60px
  padding-bottom: 60px
  color: $primary-text-color

  &:not(:last-child)
    border-bottom: 1px solid $secondary-color

  @media (min-width: 680px)
    flex-direction: row
    padding-top: 120px
    padding-bottom: 120px


.contentBlock
  &:not(:last-child)
    margin-bottom: 40px


.contentSub
  margin-right: 60px

  @media (min-width: 680px)
    flex: 0 0 100px
    text-align: center


.header
  margin-bottom: 40px


.subheading
  font-size: 14px



.cert
  display: block
  width: 100%
  height: auto
  margin-top: 20px


.figure
  margin: 0
  z-index: 1


.image
  display: block
  width: 100%
  height: auto


.description
  position: absolute
  top: 0
  left: 0
  right: 0
  bottom: 0
  display: flex
  flex-direction: column
  padding: 20px
  background-color: $brand-color
  color: #fff
  opacity: 0
  transition: opacity 0.2s

  .project:hover &
    opacity: 1


.title
  margin-bottom: 10px
