@import '../../shared/variables/colors'


.inner
  max-width: 860px
  padding: 0 20px
  margin: 0 auto


.contentItem
  display: flex
  flex-direction: column
  padding-top: 60px
  padding-bottom: 60px
  color: $primary-text-color

  &:not(:last-child)
    border-bottom: 1px solid $secondary-color

  @media (min-width: 680px)
    flex-direction: row
    padding-top: 120px
    padding-bottom: 120px


.contentBlock
  width: 100%

  &:not(:last-child)
    margin-bottom: 40px


.contentMain
  @media (min-width: 680px)
    width: calc(100% - 160px)


.contentSub
  margin-right: 60px

  @media (min-width: 680px)
    flex: 0 0 100px
    text-align: center
