@import '../../shared/variables/colors'


.inner
  max-width: 820px
  padding-left: 20px
  padding-right: 20px
  margin: 0 auto


.content
  display: flex
  padding-top: 60px


.siteLogo
  width: 100px
  height: 100px
  border-radius: 50%
  background:
    color: $brand-color
    image: url('../../../logo.jpg')
    size: cover
    repeat: no-repeat


.nav
  margin-left: auto


.navItem
  margin: 0 15px
  padding-bottom: 10px
  font-weight: 400
  line-height: 24px
  color: $primary-text-color

  &:hover
    border-bottom: 4px solid $brand-color
