@import '../../shared/variables/colors'


.root
  font-size: 0.875rem
  line-height: 30px


.inner
  max-width: 860px
  padding-left: 20px
  padding-right: 20px
  margin: 0 auto


.content
  display: flex
  padding-top: 20px
  padding-bottom: 40px
  border-top: 1px solid $secondary-color
  margin-left: 0

  @media (min-width: 580px)
    margin-left: 100px

  @media (min-width: 680px)
    margin-left: 160px


.list
  flex: 1
  list-style-type: none
  padding: 0
  margin: 0
  margin-left: auto


.listItem
  display: block
  margin-right: 20px
  line-height: 1.5
  font-weight: 400


.link
  border-bottom: 0
  color: $primary-text-color
  transition: all 0.2s

  &:hover
    text-decoration: none
    color: $brand-color
